body {
  --sb-track-color: #212529;
  --sb-thumb-color: rgba(255, 193, 7, 0.95);
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fetch-status {
    margin: 20px;
}

.fetch-status h1 {
    text-align: center;
    font-weight: bold;
}

.fetch-error {
    color: red
}